.container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    row-gap: 0.5em;
}

.item {
    display: grid;
    grid-template-columns: 30% 70%;
}

.item_image {
    order: 1;
    justify-self: center;
}

.item_info {
    order: 2;
}

.item_info h2 {
    color: #333;
    font-size: 14px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item_info__price {}