.item {
    display: grid;
    grid-template-columns: 30% 70%;
}

.item_image {
    order: 1;
    justify-self: center;
}

.item_info {
    order: 2;
}

.item_info__title {
    text-decoration: none;
}