.item_list__container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    row-gap: 0.5rem;
    background-color: white;
    border-radius: 10px;
}

.item {
    display: grid;
    grid-template-columns: 30% 70%;
}

.item_image {
    order: 1;
    justify-self: center;
}

.item_info {
    order: 2;
}

.item_info__title {
    text-decoration: none;
}

@media (min-width: 36em) {
    .item_list__container {
        width: 80%;
    }
}