.title {
    color: #333;
    font-size: 16px; /* 22 px on Desktop*/
    font-weight: 300;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}